*{
	box-sizing: border-box;
	border: 0;
	padding: 0;
	margin: 0;
}

html, body
{
	background: #0000009c;
	color: white;
    font: bolder 100% monospace;
	font-size: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
}


aside{
	vertical-align: top;
	width: 100%;
	height: 99.6%;
	font-size: 25px;
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
	margin: 4px 0 5px 0px;
}

article{
	min-height: 50px;
	width: 99%;
	margin: 4px 0 3px 0px;
	display: inline;
	float: left;
	text-align: justify;
	padding: 30px;
	height: 100%;
	
}

.azul{
	background: #070618;
}

.borde{
	border-radius: 2px 2px 2px 2px;
}

.conteiner{
	width: 100%;
	height: 100%;
	margin: auto;
}

.nav{
	width: 100%;
	height: 60px;
	text-align: left;
	padding: 20px 0;
	background: #424344;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.nav-img{
	width: 100px;
	height: 68px;
	padding-top: 10px;
}

.nav ul{
	display: flex;
}

.nav ul li{
	padding: 20px;
}

.nav ul li a{
	padding: 2px;
}

.nav ul li a:hover{
	border-bottom: 2px #ffffff solid;
}

.nav ul.nav-ul{
	flex: 1;
	margin-left: 20px;
}

hr{
	margin: 10px 0;
}

label.logo{
	font-size: 35px;
	font-weight: bold;
	padding:40px 0 10 50px;
	line-height: 30px;

}

nav ul{
	float: right;
	margin-right: 40px;
	display: flex;
}
nav li{
	display: inline-block;
	line-height: 1px;
	margin: 0 20px;
	padding: 0 0 0 0;
}
nav a{
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;

}

#rr {
	width: 410px;
	height: 280px;
	display: flex;
	padding: 20px 13px;
	float: left;

}

a.active, .hover{
	border: 1px solid white;
	transition: .5s;
}
.footer{
	margin: auto;
	margin-bottom: 0em;
	width: 100%;
	height: 100%;
	padding: 20px 0px 30px 0px;
	background-color: black;
	flex: 0 0 auto;
	text-align: center;
}
.titulo{
	color: black;
	margin: .25em auto;
	width: 90%;
}

#principal{
	margin: 0;
	margin-top: 1px;
	width: 100%;
	display: flex;


}
.secsion{
	display: inline-block;
	font-size: 20px;
	height: 100%;
	width: 100%;
	
}

u{
	text-decoration: underline;
	
}


h6{
	padding: 0.5em;
	font-family: serif;
	font-style: initial;
	text-align: justify;
}

ul{
	list-style-type: circle;
}

a {
	color: rgb(124, 216, 233);
	text-decoration: underline gray;
}

label{
	padding-left: 5px;
}

video{
	width: 400px;
	height: 300px;
}

aside img{
	border: 5px solid;
	color: #120b96;
}

.redes{
	display: flex;
	justify-content: center;
	font-size: 17px;
	margin: 15px;

}

.redes a{
	padding: 30px;
	color: rgb(47, 117, 197);
}

.footer-logo{
	font-size: 25px;
}
